.heroSwiper .swiper-pagination {
  width: 100px !important;
  padding: 10px 0;
  background-color: var(--main-background);
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 4px !important;
}

.swiper-pagination-clickable {
  @apply flex items-center justify-center;
}
